<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @autor.name %>
</p>

<p>
  <b>Email:</b>
  <%= @autor.email %>
</p>


<%= link_to 'Edit', edit_autor_path(@autor) %> |
<%= link_to 'Back', autors_path %>
